year	make	model	trim	body	transmission	vin	state	condition	odometer	color	interior	seller	mmr	sellingprice	saledate

In [4]:
df.show()

+----+---------+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
|year|     make|              model|                trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|  mmr|sellingprice|            saledate|
+----+---------+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
|2015|      Kia|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg566472|   ca|        5|   16639| white|   black|kia motors americ...|20500|       21500|Tue Dec 16 2014 1...|
|2015|      Kia|            Sorento|                  LX|        SUV|   automatic|5xyktca69fg561319|   ca|        5|    9393| white|   beige|kia motors americ...|20800|       21500|Tue Dec 16 2014 1...|
|2014|      BMW|           3 Series|          328i SULEV|      Sedan|   automatic|wba3c1c51ek116351|   ca|       45|    1331|  gray|   black|financial service...|31900|       30000|Thu Jan 15 2015 0...|
|2015|    Volvo|                S60|                  T5|      Sedan|   automatic|yv1612tb4f1310987|   ca|       41|   14282| white|   black|volvo na rep/worl...|27500|       27750|Thu Jan 29 2015 0...|
|2014|      BMW|6 Series Gran Coupe|                650i|      Sedan|   automatic|wba6b2c57ed129731|   ca|       43|    2641|  gray|   black|financial service...|66000|       67000|Thu Dec 18 2014 1...|
|2015|   Nissan|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap1fn326013|   ca|        1|    5554|  gray|   black|enterprise vehicl...|15350|       10900|Tue Dec 30 2014 1...|
|2014|      BMW|                 M5|                Base|      Sedan|   automatic|wbsfv9c51ed593089|   ca|       34|   14943| black|   black|the hertz corpora...|69000|       65000|Wed Dec 17 2014 1...|
|2014|Chevrolet|              Cruze|                 1LT|      Sedan|   automatic|1g1pc5sb2e7128460|   ca|        2|   28617| black|   black|enterprise vehicl...|11900|        9800|Tue Dec 16 2014 1...|
|2014|     Audi|                 A4|2.0T Premium Plus...|      Sedan|   automatic|wauffafl3en030343|   ca|       42|    9557| white|   black|  audi mission viejo|32100|       32250|Thu Dec 18 2014 1...|
|2014|Chevrolet|             Camaro|                  LT|Convertible|   automatic|2g1fb3d37e9218789|   ca|        3|    4809|   red|   black|  d/m auto sales inc|26300|       17500|Tue Jan 20 2015 0...|
|2014|     Audi|                 A6|3.0T Prestige qua...|      Sedan|   automatic|wauhgafc0en062916|   ca|       48|   14414| black|   black|   desert auto trade|47300|       49750|Tue Dec 16 2014 1...|
|2015|      Kia|             Optima|                  LX|      Sedan|   automatic|5xxgm4a73fg353538|   ca|       48|    2034|   red|     tan|  kia motors finance|15150|       17700|Tue Dec 16 2014 1...|
|2015|     Ford|             Fusion|                  SE|      Sedan|   automatic|3fa6p0hdxfr145753|   ca|        2|    5559| white|   beige|enterprise vehicl...|15350|       12000|Tue Jan 13 2015 1...|
|2015|      Kia|            Sorento|                  LX|        SUV|   automatic|5xyktca66fg561407|   ca|        5|   14634|silver|   black|kia motors americ...|20600|       21500|Tue Dec 16 2014 1...|
|2014|Chevrolet|              Cruze|                 2LT|      Sedan|   automatic|1g1pe5sbxe7120097|   ca|     NULL|   15686|  blue|   black|avis rac/san leandro|13900|       10600|Tue Dec 16 2014 1...|
|2015|   Nissan|             Altima|               2.5 S|      Sedan|   automatic|1n4al3ap5fc124223|   ca|        2|   11398| black|   black|enterprise vehicl...|14750|       14100|Tue Dec 23 2014 1...|
|2015|  Hyundai|             Sonata|                  SE|      Sedan|   automatic|5npe24af4fh001562|   ca|     NULL|    8311|   red|       —|            avis tra|15200|        4200|Tue Dec 16 2014 1...|
|2014|     Audi|                 Q5|2.0T Premium Plus...|        SUV|   automatic|wa1lfafpxea085074|   ca|       49|    7983| white|   black|audi north scotts...|37100|       40000|Thu Dec 18 2014 1...|
|2014|Chevrolet|             Camaro|                  LS|      Coupe|   automatic|2g1fa1e39e9134494|   ca|       17|   13441| black|   black|wells fargo deale...|17750|       17000|Tue Dec 30 2014 1...|
|2014|      BMW|           6 Series|                650i|Convertible|   automatic|wbayp9c53ed169260|   ca|       34|    8819| black|   black|the hertz corpora...|68000|       67200|Wed Dec 17 2014 1...|
+----+---------+-------------------+--------------------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
only showing top 20 rows

In [5]:
df.createOrReplaceTempView("vehicles")

In [6]:
top_selling = df.groupBy("make", "model").count().orderBy(col("count").desc())
print("Top-selling vehicle makes and models:")
top_selling.show()

Top-selling vehicle makes and models:
+---------+--------------+-----+
|     make|         model|count|
+---------+--------------+-----+
|   Nissan|        Altima|19349|
|     Ford|         F-150|14479|
|     Ford|        Fusion|12946|
|   Toyota|         Camry|12545|
|     Ford|        Escape|11861|
|     Ford|         Focus|10394|
|     NULL|          NULL|10301|
|    Honda|        Accord| 9127|
|      BMW|      3 Series| 8204|
|    Dodge| Grand Caravan| 7941|
|Chevrolet|        Impala| 7923|
|     Ford|      Explorer| 7707|
|    Honda|         Civic| 7433|
| Infiniti|       G Sedan| 7417|
|   Toyota|       Corolla| 7354|
|Chevrolet|        Malibu| 7028|
|  Hyundai|        Sonata| 6914|
|   Nissan|        Maxima| 6611|
|Chevrolet|Silverado 1500| 6362|
|Chevrolet|         Cruze| 6348|
+---------+--------------+-----+
only showing top 20 rows

In [7]:
sales_distribution = df.groupBy("year", "body").count().orderBy("year", "body").filter("body IS NOT NULL")
print("Distribution of vehicle sales by year and body type:")
sales_distribution.show(truncate = False)

Distribution of vehicle sales by year and body type:
+----+-----------+-----+
|year|body       |count|
+----+-----------+-----+
|1990|Convertible|5    |
|1990|Hatchback  |6    |
|1990|Regular Cab|3    |
|1990|SUV        |2    |
|1990|Sedan      |25   |
|1990|hatchback  |1    |
|1990|sedan      |2    |
|1991|Convertible|10   |
|1991|Coupe      |2    |
|1991|Hatchback  |4    |
|1991|Regular Cab|3    |
|1991|Sedan      |36   |
|1991|convertible|1    |
|1991|sedan      |3    |
|1991|wagon      |1    |
|1992|Convertible|7    |
|1992|Coupe      |10   |
|1992|Regular Cab|2    |
|1992|SUV        |9    |
|1992|Sedan      |75   |
+----+-----------+-----+
only showing top 20 rows

In [8]:
condition_price_relation = df.groupBy("condition").avg("sellingprice").orderBy("avg(sellingprice)").filter("condition is NOT NULL")
print("Average selling price by vehicle condition:")
condition_price_relation.show()

Average selling price by vehicle condition:
+---------+------------------+
|condition| avg(sellingprice)|
+---------+------------------+
|       14|3323.8805970149256|
|       13| 3554.878048780488|
|       12|3820.7894736842104|
|       15|3913.5416666666665|
|        1| 3923.135931558935|
|       17|4074.8971193415637|
|       16|  4386.23595505618|
|       11| 4504.482758620689|
|       18|  4584.05572755418|
|       19| 5082.002530986848|
|        2| 5691.410437710438|
|       21| 7330.597673660181|
|       22| 7616.581310879974|
|       23| 8062.063873961895|
|       24| 8361.518014153979|
|       25| 8839.977386734612|
|       26| 9174.055662832676|
|       27| 9643.028195718654|
|       28|10198.823434322365|
|       29|10756.953455198647|
+---------+------------------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import corr

# Calculate the correlation between odometer reading and selling price
correlation = df.stat.corr("odometer", "sellingprice")

# Print the correlation coefficient
print("Correlation between odometer reading and selling price:", correlation)

Correlation between odometer reading and selling price: -0.5820050850182062

In [10]:
# Group by color and interior, and calculate the average selling price
avg_price_by_color_interior = df.groupBy("color", "interior").avg("sellingprice")

# Show the results
avg_price_by_color_interior.show()

+---------+--------+------------------+
|    color|interior| avg(sellingprice)|
+---------+--------+------------------+
|     pink|   black|15989.583333333334|
| burgundy|   white|           17510.0|
|    white|   black| 16685.36355064655|
|     gold|       —| 4530.500978473581|
|   purple|    blue| 6933.333333333333|
|        —|    gray|15724.464991823992|
| charcoal|   beige|19973.170731707316|
|   silver|  purple|11542.424242424242|
| burgundy|   green|           18725.0|
|      red|   white|13476.923076923076|
|     gray|  silver|10992.196531791908|
|     gray|  purple|11400.023255813954|
|     gray|     tan|13265.341180731619|
|    brown|    gold|16366.666666666666|
| charcoal|   black|17601.890566037735|
|        —|   brown|28207.738095238095|
|    green|   brown|10643.070175438597|
|    black|  silver|  9747.76119402985|
|off-white|    gray|12893.978102189782|
|    black|   black|17248.917206763803|
+---------+--------+------------------+
only showing top 20 rows

In [11]:
# Group by seller and calculate the average selling price
avg_price_by_seller = df.groupBy("seller").avg("sellingprice")

# Show the results
avg_price_by_seller.show()

+--------------------+------------------+
|              seller| avg(sellingprice)|
+--------------------+------------------+
|balboa thrift & l...| 8912.295081967213|
|california auto w...|17726.356589147286|
|repo remarketing/...|            7550.0|
|jaguar land rover...|           11770.0|
|   low gos used cars| 4241.666666666667|
|montclair auto sl...|10576.271186440677|
|     pa distributors|15111.111111111111|
|autolenders liqui...| 7546.198453608247|
|   bailey auto plaza|27258.333333333332|
|southern auto fin...| 5745.859872611465|
|      rock chevrolet| 6072.222222222223|
|premier toyota of...| 4556.060606060606|
|        richmond bmw|            6475.0|
|jaguar land rover...|            5512.5|
|   loeber motors inc|            4400.0|
|    frank kent honda| 7102.631578947368|
|autonation honda ...|3375.5725190839694|
|princeton chevrol...|            5000.0|
|anthony underwood...| 7933.333333333333|
|grossinger toyota...|            9475.0|
+--------------------+------------------+
only showing top 20 rows

In [12]:
# Group by transmission type and calculate the average selling price
avg_price_by_transmission = df.groupBy("transmission").avg("sellingprice")

# Show the results
avg_price_by_transmission.show()

+------------+------------------+
|transmission| avg(sellingprice)|
+------------+------------------+
|        NULL|14772.304142247249|
|   automatic|13540.406865670388|
|      manual|11211.448358413132|
|       Sedan|13686.363636363636|
|       sedan|           13650.0|
+------------+------------------+

In [13]:
# Group by state and count the number of sales
sales_by_state = df.groupBy("state").count().orderBy("count", ascending=False)

# Show the results
sales_by_state.show()

+-----+-----+
|state|count|
+-----+-----+
|   fl|82945|
|   ca|73148|
|   pa|53907|
|   tx|45913|
|   ga|34750|
|   nj|27784|
|   il|23486|
|   nc|21845|
|   oh|21575|
|   tn|20895|
|   mo|16013|
|   mi|15511|
|   nv|12685|
|   va|12027|
|   md|11158|
|   wi| 9851|
|   mn| 9429|
|   az| 8741|
|   co| 7775|
|   wa| 7416|
+-----+-----+
only showing top 20 rows